/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
.idea/
.bowerrc
src/AppBundle/Document/
src/UserBundle/Document/
/test1_2.php
/test1.php
/wm.sql
