{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wprowadzenie wyników pomiarów - krok 1</h1>
    <h2>Wprowadź wymiary pierwszej próbki i siłę niszczącą</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Przejdź dalej" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('lab1_pomiar_index') }}">Przerwij</a>
        </li>
    </ul>
{% endblock %}
