{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wprowadzenie wyników pomiarów - krok 2</h1>
    <h2>Wprowadź wymiary drugiej próbki</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Przejdź dalej" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('lab2_pomiar_index') }}">Powrót</a>
        </li>
    </ul>
{% endblock %}
