{% set counter = 0 %}
<div class="row">
    <div class="col-lg-12">
        {% if projects|length %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Projekty
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for project in projects %}
                        {% set counter = counter + 1 %}
                        <a href="{{ path('project_show', {'id': project.id}) }}">
                        <li class="list-group-item">
                            {{ counter }}. Projekt
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="well">
            <h4>Operacje</h4>
            <a class="btn btn-outline btn-lg btn-primary btn-block"
               href="{{ path('project_new') }}">Stwórz nowy projekt</a>
        </div>
    </div>
</div>