{% set counter = 0 %}
<div class="row">
    <div class="col-lg-12">
        {% if projects %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Projekty
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for project in projects %}
                        {% set counter = counter + 1 %}
                        <li class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">{{ counter }}</span>
                                <p class="form-control-static">Projekt</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="well">
            <h4>Operacje</h4>
            <a class="btn btn-outline btn-lg btn-primary btn-block"
               href="{{ path('project_new') }}">Stwórz nowy projekt</a>
        </div>
    </div>
</div>