{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Strona główna</h1>

            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis ornare orci, at tincidunt tellus posuere non. Proin enim dolor, consequat quis urna vel, lacinia tincidunt odio. Cras sagittis justo lectus, in fermentum dui faucibus a. Morbi fermentum elementum vehicula. Donec tincidunt molestie sapien eget luctus. Aenean imperdiet finibus nisl, nec placerat sapien faucibus malesuada. Aliquam aliquam eleifend nisl, sed tristique tortor suscipit eu. Aenean lobortis nibh ut urna posuere fermentum. Cras sodales felis ac molestie porta. Proin mattis erat sed diam hendrerit sagittis.

                Morbi commodo sollicitudin nulla, in facilisis velit aliquam nec. Fusce nec dolor nisi. In commodo molestie dui, eu placerat lacus vestibulum ut. Maecenas imperdiet, quam ut efficitur elementum, ligula nisi porttitor urna, ac cursus ipsum metus in nisl. Donec malesuada fermentum risus, et tempus mi efficitur in. Ut luctus condimentum arcu ut mattis. Proin erat eros, molestie vitae elit in, fermentum interdum lorem.

                Etiam nec sapien nec est placerat suscipit sit amet pretium turpis. Maecenas lacinia, velit id finibus suscipit, velit dui vulputate mi, sit amet venenatis sapien lacus vel lacus. Nunc eget nisl non est sollicitudin bibendum. Aliquam ac massa ex. Nam massa libero, dapibus et dictum ac, viverra ut ligula. Suspendisse potenti. Curabitur condimentum dapibus odio, at volutpat metus ultrices ac. Sed eleifend ultricies varius.

                Morbi vel risus eu lectus maximus volutpat varius non eros. Donec a leo velit. Praesent arcu neque, mollis eget justo finibus, consectetur pellentesque ipsum. Nunc sagittis urna sit amet libero semper fringilla. Sed non elit magna. Suspendisse feugiat nunc eget lectus pellentesque semper. Praesent a sem volutpat, pellentesque ligula ut, facilisis velit. Duis et tincidunt quam. Cras dapibus blandit turpis quis dapibus. Integer cursus nisi nec felis mattis, non laoreet nunc lobortis. Curabitur elementum ligula id consequat gravida. Fusce vulputate vel odio vitae vestibulum. Aliquam ultrices, ipsum sit amet euismod viverra, lacus est maximus urna, in finibus magna turpis quis sem.

                Vestibulum viverra bibendum ex. Vestibulum sagittis egestas ligula sit amet ornare. Cras arcu metus, aliquam sit amet ullamcorper pharetra, sodales a enim. Proin ac rutrum turpis. Phasellus ultrices sed odio sit amet maximus. Aliquam posuere erat magna, eu tincidunt odio tempor vitae. Mauris nunc nunc, sodales ac lobortis eget, posuere eu massa. Vestibulum ut tincidunt arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin nec turpis sed ipsum condimentum hendrerit quis id orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.container-fluid -->
{% endblock %}
