{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edycja profilu</h1>
            {% block fos_user_content %}
                {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>
{% endblock %}