{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Nowy projekt</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ form_start(form) }}
          {{ form_row(form.name, {'label': 'Nazwa projektu'}) }}
          <p><input type="submit" class="btn btn-outline btn-primary" value="Stwórz projekt"/></p>
          {{ form_end(form) }}
          <p><a class="btn btn-outline btn-warning" href="{{ path('index') }}">Przerwij</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}